/* 
    Created on : 09/08/2018, 11:12:21
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturadefault.css");

div[role="banner"]{
    width: 1200px;
    margin-top: 62px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
#main{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    min-height: 500px;
    background-color: white;
}
#CaixaSlider{
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
#prev{
    position: absolute;
    z-index: 990;
    height: 91px;
    margin-top: 110px;
    background: white;
    color: black;
    font-weight: bolder;
    font-size: 22px;
    border: none;
    opacity: 0.2;
}
#next{
    position: absolute;
    z-index: 990;
    height: 91px;
    margin-top: 110px;
    right: 0;
    background: white;
    color: black;
    font-weight: bolder;
    font-size: 22px;
    border: none;
    opacity: 0.2;
}