/* 
    Created on : 09/08/2018, 11:12:59
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturadefault.css");

div[role="banner"]{
    margin-top: 60px;
    width: 100%;
    background: rgb(104,110,110);
    background: linear-gradient(265deg, rgba(104,110,110,1) 38%, rgba(74,88,88,1) 67%);
}
#tipoFrm{
    margin-left: 516px;
    position: absolute;
    font-size: 18px; 
    border-bottom: solid 1px;
    width: 212px; 
    text-align: center;
}
div[role="banner"] canvas{
    display:block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid 4px black;
    border-radius: 10px;
}
#main{
    min-height: 440px;
    height: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}
div[data-style="CaixaDireita"]{
    border-right-style: inset;
    float: left;
}
div[data-style="CaixaEsquerda"]{
    width: 211px;
    float: left;
    padding-left: 20px;
    text-align: center;
}
form[name="frmTiket"]{
    padding-left: 20px;
    padding-right: 20px;
}
input[name*="txt"]{
    float: left;
    font-size:15px;
    height: 21px;
    width: 180px;
    border: solid 1px black;
}
#areaCritica{
    resize: none;
    border: solid 1px black;
    padding: 4px;
    width: 428px;
}
#btnSubmit{
    float: right;
    height: 40px;
    width: 90px;
    font-size: 17px;
    background-color: transparent;
    border: solid 1px #BFBFBF;
    margin-right: -30px;
    color:#006D5C;
}
.ItemTicket{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    padding-top: 4px;
    text-align: center;
    background: rgb(227,227,227);
    background: linear-gradient(360deg, rgba(227,227,227,1) 38%, rgba(255,255,255,1) 67%);
    display:block;
    cursor: pointer;
    font-weight: bold;
}
.ItemTicket:hover,:focus{
    color:#006D5C;
}
#btnSubmit:hover,:focus{
    color:black;
}