/* 
    Created on : 09/08/2018, 10:25:45
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturaHome.css");

div[role="banner"]{
    margin:20px auto;
    width:1100px;
    height: 390px;
    background-color: black;
}
div[data-style="MenuBar"]{
    min-height:464px;
    text-align: center;
    outline: 1px solid black;
    outline-offset: -1px;
    float: left;
    background: transparent;
}
div[data-style="ProductBox"]{
    min-height:464px;
    text-align: center;
    outline: 1px solid black;
    outline-offset: -1px;
    float: left;
    align-items: center;
    background:transparent;
}
.ItemSlider{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height:360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ItemSlider .Painel{
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: 60px;
    padding: 6px;
    background-color: black;
    opacity: 0.7;
}
.ItemSlider .Painel * {
    color:white;
    opacity: 1;
}
#prev ,#next{
    height: 70px;
    font-size: 15px;
    z-index: 7;
    position: relative;
    margin-top: 140px;
    background: linear-gradient(265deg, rgba(55,53,53,1) 31%, rgba(0,0,0,1) 73%);
    color: white;
    border: 0;
    box-shadow: 2px 3px 2px black;
    opacity: 0.7;
}
#prev{
    float: left;
}
#next{
    float: right;
}
#btnLogin{
    width: 50px;
    height: 22px;
    border:solid 1px;
    background-color: transparent;
    color:#006D5C;

}
#txtUser{
    width:151px;
}
#txtPasswrd{
    width:151px;
}
.ItemMenuBar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    padding-top: 4px;
    text-align: center;
    background: rgb(227,227,227);
    background: linear-gradient(360deg, rgba(227,227,227,1) 38%, rgba(255,255,255,1) 67%);
    display:block;
    font-weight: bold;
}
.ItemMenuBar:hover{
    color:#006D5C;
}
