/* 
    Created on : 09/08/2018, 11:12:59
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturadefault.css");

div[role="banner"]{
    margin-top: 100px;
    width: 100%;
}
div[role="banner"] canvas{
    display:block;
    max-width: 512px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 4px black;
    border-radius: 10px;
}