/* 
    Created on : 09/08/2018, 11:16:40
    Author     : 16254850
*/
div .Produto{
    float: left;
    display: table-cell;
    margin: 2px;
    width: 160px;
    min-height: 160px;
    height: auto;
    border: solid 1px white;
    background-color: #dbdbdb;
}
div .Produto .Titulo{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}
div .Produto .Imagem{
    width: 100%;
    margin-top: 1px;
    background-color: #0b2144;
}
div .Produto .Descricao{
    width: 100%;
    margin-bottom: 8px;
    padding-top: 7px;
    padding-left: 5px;
    color: black;
}
div .Produto .Preco{
    width: 100%;
    background-color: white;
    font-style: oblique;
    font-size: 19px;
}
div .Produto .Detalhes{
    text-align: right;
}

