/* 
    Created on : 09/08/2018, 10:25:45
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturaDefault.css");

#prev ,#next{
    height: 70px;
    font-size: 15px;
    z-index: 7;
    position: relative;
    margin-top: 140px;
    background: linear-gradient(265deg, rgba(55,53,53,1) 31%, rgba(0,0,0,1) 73%);
    color: white;
    border: 0;
    box-shadow: 2px 3px 2px black;
}
#prev{
    float: left;
}
#next{
    float: right;
}