/* 
    Created on : 09/08/2018, 11:13:16
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturadefault.css");

div[role="banner"]{
    width: 100%;
    margin-top: 62px;
    min-height: 100px;
    background-color: white;
}
