/* 
    Created on : 09/08/2018, 11:13:42
    Author     : 16254850
*/
@import url("style.css");
@import url("estruturadefault.css");

#main{
	margin-top:30px;
	background-color:white;
	width:100%;
	text-align:center;
	min-height:400px;
}