/* 
    Created on : 09/08/2018, 10:25:19
    Author     : 16254850
*/

@import url("./elements.css");

/*	Propriedades pertencentes ao estilo default dos itens das paginas do site.	*/
/*	Declarando a Fonte Ubuntu	*/
@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Italic.ttf);
    font-style:italic;
}
* {
  font-family: ubuntu,Verdana,Helvetica;
  margin: 0px;
  padding: 0px;
}

.row{
    width: 100%;
}
.cold10,.cold9,.cold8,.cold7,.cold6,.cold5,.cold4,.cold3,.cold2,.cold1{
    display: inline-block;
}
.cold10{
    width: 95%;
}
.cold9{
    width: 85%;
}
.cold8{
    width: 75%;
}
.cold7{
    width: 65%;
}
.cold6{
    width: 55%;
}
.cold5{
    width: 45%;
}
.cold4{
    width: 35%;
}
.cold3{
    width: 25%;
}
.cold2{
    width: 15%;
}
.cold1{
    width: 5%;
}